# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite3-journal
*.db-journal
*.json

# If you're using migrations
*/migrations/*.pyc
*/migrations/*.py

# Ignore Django Secret Key file (if any)
secret_key.txt

# Ignore environment variables file (if any)
.env

# Ignore virtual environment
venv/
env/
ENV/
.VENV/

# Ignore static and media files
/media/

# Ignore local settings
local_settings.py

# Ignore node modules (if using JavaScript libraries)
node_modules/

# Ignore coverage and testing results
htmlcov/
.tox/
.coverage
coverage.xml
nosetests.xml
coverage/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore pyenv directory
.python-version

# Ignore macOS specific files
.DS_Store
