{% extends 'base.html' %}
{% load static %}



{% block body %}
<div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y">
     
        <div class="authentication-inner py-4">
            <!-- Logo -->
            <div class="card p-2">
              
              <!-- /Logo -->
              <div class="card-body mt-2">
                <h4 class="mb-2">Password Reset</h4>
                <p class="mb-4">Your password has been set.  You may go ahead and log in now.</p>
                
                <div class="text-center">
                  <a href="{{login_url}}" class="d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
                    Back to login
                  </a>
                </div>
              </div>
            </div>
            <!-- /Forgot Password -->
            <img alt="mask" src="{% static 'assets/img/illustrations/auth-basic-forgot-password-mask-light.png' %}" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-forgot-password-mask-light.png" data-app-dark-img="illustrations/auth-basic-forgot-password-mask-dark.png">
          </div>

    </div>
  </div>
{% endblock body %}



    