{% extends 'base.html' %}
{% load static %}



{% block body %}
<div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-4">
        <!-- Login -->
        <div class="card p-2">
          <!-- Logo -->
          <div class="app-brand justify-content-center mt-5">
            <h4 class="mb-2">Change Password</h4>
          </div>
          <!-- /Logo -->

          <div class="card-body mt-2">
            
            <form  class="mb-3" action="{% url 'password-change' %}" method="post">
              
              {% csrf_token %}

              {{form.as_p}}
             
              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">Change</button>
              </div>
            </form>

          </div>
        </div>
        <!-- /Login -->
        <img
          alt="mask"
          src="{% static 'assets/img/illustrations/auth-basic-login-mask-light.png' %}"
          class="authentication-image d-none d-lg-block"
          data-app-light-img="illustrations/auth-basic-login-mask-light.png"
          data-app-dark-img="illustrations/auth-basic-login-mask-dark.png" />
      </div>
    </div>
  </div>


{% endblock body %}



    