{% extends 'base.html' %}
{% load static %}
{% load app_tags %}

{% block main_content %}

<div class="container-xxl flex-grow-1 container-p-y" >
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Dashboard /</span>Employers (Kapil) </h4>
    <div class="card">
      
     {% comment %} search form {% endcomment %}
      <div class="d-flex justify-content-between mb-4">
        <form action="" method="get">
            
          <div class="text-start p-2 d-flex gap-2">
              <input type="search"  class="form-control names_typeahead" autocomplete="off" name="name" id="" value="{{request.GET.name}}" placeholder="search by name">
              <button type="button" 
              data-bs-target="#filterModal"
              data-bs-toggle="modal"
              class="btn btn-icon btn-label-primary waves-effect">
                <span class="tf-icons mdi mdi-filter-menu-outline"></span>
              </button>
            </div>
        </form>
          <div class=" text-end p-2">
            <button type="button" 
            data-bs-target="#add_offcanvas"
            data-bs-toggle="offcanvas"
            class="btn btn-primary waves-effect waves-light">
            <span class="tf-icons mdi mdi-plus-circle"></span>
          </button>
          </div>
      </div>
      {% comment %} /search form {% endcomment %}
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr class="text-nowrap">
              <th>#</th>
              <th></th>
              <th>Name</th>
              <th>Iqama Number</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Employees</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            
            {% for kapil in kapils %}
              
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{kapil.name}}">
                <a href="{% url 'app:saudi-kapil-detail' kapil.id %}">
                  <div class="avatar avatar-md">
                    
                    {% if kapil.image %}
                        <img src="{{kapil.image.url}}" alt="image of {{kapil.name}}" class="rounded-circle">
                    {% else %}
                      
                      {% if kapil.gender == "male" %}
                          <img src="{% static 'assets/img/avatars/3.png' %}" alt="image of {{kapil.name}}" class="rounded-circle">
                      {% else %}
                        <img src="{% static 'assets/img/avatars/8.png' %}" alt="image of {{kapil.name}}" class="rounded-circle">

                      {% endif %}
                        

                    {% endif %}
                      
                  </div>
                </a>
              </td>
              <td>
                
                {{kapil.name}}
              </td>
              <td ondblclick="copy_to_clip_board(this)">
                {{kapil.cnic}}
              </td>
              <td ondblclick="copy_to_clip_board(this)">
                +966 {{kapil.phone}}
              </td>
              <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{kapil.address}}">
                {{kapil.address|truncatechars:"20" }}
              </td>
              <td>
                <div class="d-flex align-items-center avatar-group my-3">
                  
                  {% for employe in kapil.employees.all|slice:":3" %}
                    <div class="avatar pull-up" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="{{employe.name}}">
                      {% if employe.image %}
                      <img src="{{employe.image.url}}" alt="avatar image of employe {{emplye.name}}" class="rounded-circle pull-up">
                  
                      {% else %}
                    
                      {% if employe.gender == "male" %}
                          <img src="{% static 'assets/img/avatars/1.png' %}" alt="image of {{employe.name}}" class="rounded-circle">
                      {% else %}
                        <img src="{% static 'assets/img/avatars/2.png' %}" alt="image of {{employe.name}}" class="rounded-circle">

                      {% endif %}
                      {% endif %}
                    </div>
                  {% endfor %}
                  
                  {% if kapil.employees.count > 3 %}
                    <div class="avatar" id="popover-{{kapil.id}}">
                      <span class="avatar-initial rounded-circle pull-up bg-lighter text-body" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{kapil.employees.count|add:'-3'}} more">{{kapil.employees.count|add:'-3'}}</span>
                    </div>
                  {% endif %}
                    
                </div>
              </td>
              <td>
                
                <span class="badge bg-label-{{kapil.gender|gender_badge_class }}">{{kapil.gender|title}}</span>
              </td>
              <td>
                {{kapil.email}}
              </td>
              <td>
                <button type="button" 
                data-bs-target="#edit_offcanvas_{{kapil.id}}"
                data-bs-toggle="offcanvas"
                class="btn btn-icon btn-outline-primary waves-effect">
                    <span class="tf-icons mdi mdi-square-edit-outline"></span>
                  </button>
                <button type="button" 
                data-bs-target="#delete_model_{{kapil.id}}"
                data-bs-toggle="modal"
                class="btn btn-icon btn-outline-danger waves-effect">
                    <span class="tf-icons mdi mdi-delete-outline"></span>
                </button>
              </td>
            </tr>
            {% empty %}
              <tr>
                <td  colspan="10">
                  <p class="text-center">No records found.</p></td>
                
              </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
     {% comment %} Pagination {% endcomment %}
     {% include 'includes/pagination.html' %}
    </div>
  </div>
  


    <!-- Offcanvas to add new record -->
    <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="add_offcanvas"
    aria-labelledby="add_offcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 id="add_offcanvasLabel" class="offcanvas-title">Add Employer (Saudi Kapil)</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0">
      <form  action="." method="post"  class="needs-validation" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ecommerce-customer-add-basic mb-4 ">
          <div class="form-floating form-floating-outline mb-4 ">
            {{form.name}}
            <label for="id_name">Name*</label>
            <div class="invalid-feedback">this field is required</div>
          </div>
        </div>
        <div class="ecommerce-customer-add-basic mb-4 ">
          <div class="form-floating form-floating-outline mb-4 ">
            <div class="input-group input-group-merge">
              <span class="input-group-text">SA (+966)</span>
              <div class="form-floating form-floating-outline">
                {{form.phone}}
                <label for="id_phone">Phone (Optional)</label>
                <div class="invalid-feedback">this field is required</div>
              </div>
            </div>
           
          </div>
        </div>
        <div class="ecommerce-customer-add-basic mb-4 ">
          <div class="form-floating form-floating-outline mb-4 ">
            {{form.cnic}}
            <label for="id_cnic">National ID Number (Iqama Number)*</label>
            <div class="invalid-feedback">this field is required</div>
          </div>
        </div>

        <div class="ecommerce-customer-add-basic mb-4 ">
          <div class="form-floating form-floating-outline mb-4 ">
            {{form.email}}
            <label for="id_email">Email (optional)</label>
          </div>
        </div>

        <div class="ecommerce-customer-add-basic mb-4 ">
          <div class="form-floating form-floating-outline mb-4 ">
            {{form.gender}}
            <label for="id_gender">Gender</label>
            <div class="invalid-feedback">this field is required</div>
          </div>
        </div>
        <div class="ecommerce-customer-add-basic mb-4 ">
          <div class="form-floating form-floating-outline mb-4 ">
            {{form.image}}
            <label for="id_image">Image (Optional)</label>
          </div>
        </div>
        <div class="ecommerce-customer-add-basic mb-4 ">
          <div class="form-floating form-floating-outline mb-4 ">
            {{form.address}}
            <label for="id_address">Address*</label>
          </div>
        </div>
        <div class="pt-3">
          <button type="submit" 
           
            class="btn btn-primary me-sm-3 me-1 data-submit"
          
           >
          <span class="mdi tf-icons mdi-content-save"></span>
          </button>
          <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="offcanvas">
            <span class="mdi tf-icons mdi-close-circle-outline"></span>
          </button>
        </div>
      </form>
    </div>
  </div>

 
<!-- Offcanvas to update the record -->

{% for kapil  in kapils %}
  
<div
class="offcanvas offcanvas-end"
tabindex="-1"
id="edit_offcanvas_{{kapil.id}}"
aria-labelledby="edit_offcanvasLabel_{{kapil.id}}">
<div class="offcanvas-header border-bottom">
  <h5 id="edit_offcanvasLabel_{{kapil.id}}" class="offcanvas-title">Edit Employer (Saudi Kapil) </h5>
  <button
    type="button"
    class="btn-close text-reset"
    data-bs-dismiss="offcanvas"
    aria-label="Close"></button>
</div>
<div class="offcanvas-body mx-0 flex-grow-0">
  <form  action="{% url 'app:saudi-kapil-update' kapil.id %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="ecommerce-customer-add-basic mb-4 ">
      <div class="form-floating form-floating-outline mb-4 ">
        <input
          type="text"
          class="form-control"
          id="id_name_edit_{{kapil.id}}"
          placeholder="Enter name"
          name="name"
          value="{{kapil.name}}"
          aria-label="name" />
        <label for="id_name_edit_{{kapil.id}}">Name*</label>
        <div class="invalid-feedback">this field is required</div>
      </div>
    </div>
    <div class="ecommerce-customer-add-basic mb-4 ">
      <div class="form-floating form-floating-outline mb-4 ">
        <div class="input-group input-group-merge">
          <span class="input-group-text">SA (+966)</span>
          <div class="form-floating form-floating-outline">
            <input type="text" name="phone" maxlength="10" class="form-control phone-number-mask" 
            aria-label="Enter phone" placeholder="5987896843" id="id_phone"
            value="{{kapil.phone}}"
            >
            <label for="id_phone">Phone (Optional)</label>
          </div>
        </div>
        
      </div>
    </div>
    <div class="ecommerce-customer-add-basic mb-4 ">
      <div class="form-floating form-floating-outline mb-4 ">
        <input type="text" name="cnic" maxlength="10" class="form-control iqamaMask" 
        aria-label="Enter Iqama Number" placeholder="1XXXXXXXXX" 
        required="" id="id_cnic"
        value="{{kapil.cnic}}"
        >
        <label for="id_cnic">National ID Number (Iqama Number)*</label>
        <div class="invalid-feedback">this field is required</div>
      </div>
    </div>

    <div class="ecommerce-customer-add-basic mb-4 ">
      <div class="form-floating form-floating-outline mb-4 ">
        <input type="email" name="email" maxlength="30" class="form-control" aria-label="Enter email" 
        placeholder="Enter email" id="id_email" value="{% if kapil.email %} {{kapil.email}} {% endif %}">
        <label for="id_email">Email (optional)</label>
      </div>
    </div>

    <div class="form-floating form-floating-outline mb-4">
      <select name="gender" class="form-control" aria-label="Enter gender" placeholder="Enter gender" id="id_gender">
        <option value="male" {% if kapil.gender|lower == 'male' %}selected{% endif %}>Male</option>  
        <option value="female" {% if kapil.gender|lower == 'female' %}selected{% endif %}>FeMale</option>
        <option value="other" {% if kapil.gender|lower == 'other' %}selected{% endif %}>Other</option>
      </select>
        <label for="id_gender">Gender</label>
      <div class="invalid-feedback">this field is required</div>
    </div>

    <div class="ecommerce-customer-add-basic mb-4 ">
      <div class="form-floating form-floating-outline mb-4 ">
        <input type="file" name="image" accept="image/*" class="form-control" aria-label="Enter image" placeholder="Enter image"  id="id_image">
        <label for="id_image">Image (Optional)</label>
      </div>
      
      {% if kapil.image %}
        
      <a href="{{kapil.image.url}}">Image in Use: {{kapil.image.name|truncatechars:"20" }}</a>
      {% endif %}
        
    </div>
    <div class="ecommerce-customer-add-basic mb-4 ">
      <div class="form-floating form-floating-outline mb-4 ">
        <textarea name="address" cols="40" rows="10" maxlength="80" class="form-control h-px-100" aria-label="Enter address" placeholder="Enter address" required="" id="id_address">{{kapil.address}}</textarea>
        <label for="id_address">Address*</label>
      </div>
    </div>
    <div class="pt-3">
      <button type="submit" 
       
        class="btn btn-primary me-sm-3 me-1 data-submit"
      
       >
      <span class="mdi tf-icons mdi-content-save"></span>
      </button>
      <button type="reset" class="btn btn-outline-danger" data-bs-dismiss="offcanvas">
        <span class="mdi tf-icons mdi-close-circle-outline"></span>
      </button>
    </div>
  </form>
</div>
</div>

{% endfor %}

{% comment %} delete popup {% endcomment %}

<!-- Modal -->

{% for kapil  in kapils %}
  
<div class="modal fade" id="delete_model_{{kapil.id}}" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content" method="post" action="{% url 'app:saudi-kapil-deactivate' kapil.id %}">
      {% csrf_token %}
      <div class="modal-header">
        <h4 class="modal-title" id="delete_model_title_{{kapil.id}}">Delete Record Confirmation</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-4 mt-2">
            <p>
              Are you sure you want to delete <strong class="text-danger">{{kapil.name}}</strong>? You can undo it from the Recycle Bin.
            </p>
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </form>
  </div>
</div>
{% endfor %}


<div class="modal fade" id="filterModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel2">Filter Records</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form action="" method="get">
      <div class="modal-body">

        <div class="row">
          <div class="col mb-2">
              <label for="id_cnic_filter" class="form-label">Iqama Number</label>
              <input type="text" name="iqama_number" maxlength="10" class="form-control cnic_typeahead iqamaMask" 
              aria-label="Enter Iqama Number" placeholder="1XXXXXXXXX"
              value="{{request.GET.iqama_number}}" 
               id="id_cnic_filter"
               autocomplete="off"
               >
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% get_employer_cnic_as_list as  get_employer_cnic_as_list %}
{{get_employer_cnic_as_list|json_script:"employee_cnic_as_list"}}

{% get_employer_names_as_list as  get_employer_names_as_list %}
{{get_employer_names_as_list|json_script:"employee_names_list"}}

{% endblock main_content %}
  


{% block style %}
<style>
  .scroll-container{
    max-height: 300px;
  }
</style>
{% endblock style %}
  
  


{% block script %}


{% for employer in kapils %}
  {% include 'includes/partials/employers/popover.html' with employer=employer %}
{% endfor %}
  
initializePerfectScrollbar();
{% endblock script %}
  
